*{
    margin: 0;
    padding: 0;
}
.div{
    display: flex;
    justify-content: space-between;
}
.p1{
    color: white;
    font-size: 20px;
}
h1{
    text-align: center;
}
header{
    background-color: black;
}
a{
    display: flex;
    justify-content: space-around;
}
a{
    color: white;
    text-decoration: none;
}
footer{
    background-color: black;
}